<div class="col-md-4">
  <div class="card user-card">
    <div class="card-header">
      <h5>by: <%= current_user.profile.first_name %> <%= current_user.profile.last_name %></h5>
      <%= link_to "EDIT", edit_service_path(service) %> | <%= button_to "DELETE", service_path(service), method: :delete %>
    </div>
    <div class="card-block">
      <div class="user-image">
        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
      </div>
      <h6 class="f-w-600 m-t-25 m-b-10"><%= service.title %></h6>
      <p class="text-muted">Price  <%= service.price%></p>
      <hr>
      <p class="m-t-15 text-muted"><%= service.description%></p>
    </div>
  </div>
</div>
