<p style="color: green"><%= notice %></p>

<div class="card w-75 border-primary mb-3">
  <% @profile.picture.each do |single_image| %>
    <%= image_tag single_image, height: '350px', width: '700px' %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title">
      <%= render @profile %>
    </h5>

    <%= link_to "Edit", edit_profile_path(@profile) %>

    <%= button_to "Destroy", @profile, method: :delete %>
  </div>
</div><br>

