<div id="loginbox" class="mainbox">
  <div class="panel panel-info" >
    <div class="panel-body" >
      <%= form_with(model: pet) do |form| %>
        <label>Name</label>
        <div style="margin-bottom: 25px" class="input-group">
          <%= form.text_field :name,  class: 'form-control', style: 'border-radius:10px'%>
          <%# if pet.errors.any? %>
            <%# pet.errors.each do |error| %>
<!--              <div class="alert alert-danger col-sm-12">><%#= error.full_message %></div>-->
            <%# end %>
          <%# end %>
        </div>
        <label>Breed</label>
        <div style="margin-bottom: 25px" class="input-group">
          <%= form.text_field :breed, class: 'form-control', style: 'border-radius:10px' %>
        </div>
        <label>Gender</label>
        <div style="margin-bottom: 25px" class="input-group">
          <%= form.text_field :gender, class: 'form-control', style: 'border-radius:10px' %>
        </div>
        <label>Age</label>
        <div style="margin-bottom: 25px" class="input-group">
          <%= form.text_field :age,class: 'form-control', style: 'border-radius:10px' %>
        </div>
        <label>Bio</label>
        <div style="margin-bottom: 25px" class="input-group">
          <%= form.text_field :description,class: 'form-control', style: 'border-radius:10px' %>
        </div>
        <%= form.submit class:'btn btn-primary' %>
      <%end%>
    </div>
  </div>
</div>
