<div id="loginbox" class="mainbox">
  <div class="panel panel-info" >
    <div class="panel-body" >
      <%= form_with(model: order) do |form| %>
        <label>Order Title</label>
        <div style="margin-bottom: 25px" class="input-group">
          <%= form.text_field :title,  class: 'form-control', style: 'border-radius:10px'%>
          <%# if title.errors.any? %>
            <%# title.errors.each do |error| %>
<!--              <div class="alert alert-danger col-sm-12">><%#= error.full_message %></div>-->
            <%# end %>
          <%# end %>
        </div>
        <%= form.label :price, style: "display: block" %>
        <div style="margin-bottom: 25px" class="input-group">
          <%= form.number_field :price,class: 'form-control', style: 'border-radius:10px' %>
        </div>
        <div style="margin-bottom: 25px" class="input-group">
          <p class="list-group-item">Select Service <%= form.collection_select :service_id, @services, :id, :title,include_blank: true %></p>
        </div>
        <%= form.submit class:'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
