      <div class="col-md-4">
        <div class="card user-card">
          <div class="card-header">
            <h5>by: <b>@</b><%= order.user.profile.first_name%></h5>
            <%= link_to "EDIT", edit_order_path(order) %> | <%= button_to "DELETE", order_path(order), method: :delete %>

          </div>
          <div class="card-block">
            <hr><p class="text-muted"><%= order.service.title%></p><hr>
            <div class="user-image">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
            </div>
            <h6 class="f-w-600 m-t-25 m-b-10"><%= order.title%></h6>
            <p class="text-muted">Price : <%= order.service.price%></p>
            <p class="text-muted">Order by:  <%= order.user.profile.first_name%>  <%= order.user.profile.last_name%></p>
            <p class="text-muted">Order by Email: <%= order.user.email%></p>
            <hr>
            <p class="m-t-15 text-muted"><%= order.service.description %>.</p>
          </div>
        </div>
      </div>