<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header">
      <h4 class="card-text"> New Post </h4>
    </div>
    <div class="card-body">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
      <div>
        <%= form.file_field :pictures, multiple: true %>
      </div><br>
    </div>
    <div class="card-footer ">
      <div style="width: 50%; float: left">
        <h5>
          <%= link_to "Delete", @posts, method: :delete%>
        </h5>
      </div>
      <div style="width: 50%; float: right">
        <p class="float-right">
          <%= form.submit %>
        </p>
      </div>
    </div>
  </div>


<% end %>


