      <div class="card gedf-card">
        <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex justify-content-between align-items-center">
              <div class="mr-2">
                <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
              </div>
              <div class="ml-2">
                <div class="h5 m-0"><%= post.user.profile.first_name %> <%= post.user.profile.last_name %></div>
              </div>
            </div>
            <%= link_to "EDIT", edit_post_path(post) %> | <%= button_to "DELETE", post_path(post), method: :delete %>
          </div>

        </div>
        <div class="card-body">
          <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i><%= time_ago_in_words(post.created_at) %></div>
          <p class="card-text">
            <%= post.description %>
          </p>
          <div>
            <% post.pictures.each do |pic| %>
                <%= image_tag pic %>
            <% end %>
            <span class="badge badge-primary"><%= post.pet.name %></span>
          </div>
        </div>
        <div class="card-footer">
            <%= post.likes.count %> Likes
            <div class="float-right">
              <% like = post.likes.find_by(likeable: post) %>
              <% if like.nil? %>
                <form action="/likes" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="like[likeable_id]" value="<%= post.id %>">
                  <input type="hidden" name="like[likeable_type]" value="<%= post.class.to_s %>">
                  <input type="submit" value="Like">
                </form>
              <% else %>
                <form action="<%= like_path(like) %>" method="post">
                  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <input type="submit" value="Unlike">
                </form>
              <% end %>
            </div>
        </div>
        <%= render partial: 'comments/form', locals: { post: post, parent: nil } %>
        <div class="card-body">
          <% post.comments.each do |comment| %>
              <div class="row">
                <div class="col-8"><p>Parent Comment:<%= comment.content %> </p></div>
                <div class="col-2" id="<%= post.id %>"> <a class="show_reply">Show Replies</a></div>
                <div class="col-2"><span> <%= render partial: 'likes/button', locals: { likeable: comment} %></span></div>
              </div>
            <div></div>

               <div class="offset-1" hidden>
                 <%= render post.comments.where(parent_id: nil).includes(:user).order(id: :desc) %>
               </div>
            <hr>
          <% end %>
        </div>

      </div>


      <script>
          document.querySelectorAll('.comment-form-display').forEach((el) => {
              el.addEventListener('click', (ev) => {
                  ev.preventDefault();
                  el.nextElementSibling.style = 'display: block;'
              })
          })
      </script>



<!--      <script>-->
<!--        $(document).ready(function (){-->
<!--            $(".show_reply").click(function (){-->
<!--                alert(this.attr("id"));-->
<!--            });-->
<!--        })-->
<!--      </script>-->





