<div class="container-fluid gedf-wrapper">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="h5"><%= link_to "#{current_user.profile.first_name}", profiles_path %></div>
          <div class="h7 text-muted">Bio : <%= current_user.profile.bio %></div>
          <div class="h7">
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="h6 text-muted">Services</div>
            <div class="h5"><%= services_count %></div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Orders Place By You</div>
            <div class="h5"><%= orders_count %></div>
          </li>
          <li class="list-group-item">
            <div class="h6 text-muted">Orders Recieved</div>
            <div class="h5"><%= orders_recieved_against_service %></div>
          </li>
          <li class="list-group-item">User info <%= link_to 'See', profiles_path %></li>
        </ul>
      </div>
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Your Pet Category</h5>
          <%= link_to 'All Categories', types_path, class: 'card-link' %>
          <hr>
          <% @type.each do |record| %>
            <h4 class="card-subtitle mb-2 text-muted">Name: <%= record.name %></h4>
            <%= link_to "Details", types_path, class: "card-link" %>
          <%end%>
          <hr>
          <%= link_to 'Add New Category', types_path, class: 'card-link' %>
        </div>
      </div>
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Your Pet</h5>
          <%= link_to 'All Pets', pets_path, class: 'card-link' %>
          <hr>
          <% @pet.each do |record| %>
            <h4 class="card-subtitle mb-2 text-muted">Name: <%= record.name %><small><i>(<%= record.type.name %>)</i></small></h4>
            <%= link_to "Details", pets_path, class: "card-link" %>
          <%end%>
          <hr>
          <%= link_to 'Add New Pet', pets_path, class: 'card-link' %>
        </div>
      </div>
    </div>
    <div class="col-md-6 gedf-main">
        <%= render 'posts/form', post: @post %>
          <% @all_post.each do |post| %>
            <% if post.present? %>
              <% if post.pet.status == true %>
                <%= render post %>
              <% end %>
            <%end%>
        <% end %>
    </div>
    <div class="col-md-3">
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Your Services</h5>
          <%= link_to 'All Services', services_path, class: 'card-link' %>
          <hr>
          <% @service.each do |record| %>
          <h4 class="card-subtitle mb-2 text-muted">Name: <%= record.title %></h4>
            <%= link_to "Details", services_path, class: "card-link" %>
          <%end%>
          <hr>
          <%= link_to 'Add New Service', services_path, class: 'card-link' %>
        </div>
      </div>
      <div class="card gedf-card">
        <div class="card-body">
          <h5 class="card-title">Your Orders</h5>
          <%= link_to 'All Orders', orders_user_orders_path, class: 'card-link' %>
          <hr>
          <% @order.each do |record| %>
            <h4 class="card-subtitle mb-2 text-muted">Name: <%= record.title %><small><i>(<%= record.service.title %>)</i></small></h4>
            <%= link_to "Details", orders_user_orders_path, class: "card-link" %>
          <% end %>
          <hr>
          <%= link_to 'Add New Order', orders_path, class: 'card-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
